#layout_1{
    text-align: center;
    background-color: aliceblue;
    height: 300px;
}
.layout_1{
    padding: 50px;
}
.layout_1>h1{
    font-size: 50px;
}
.layout_1>h3{
    color: red;
}
#layout_2{
    display: grid;
    gap: 30px;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px;
    justify-content: center;
    margin-top: 80px;
    width: 100%;  
}
#box1,#box2,#box4,#box5,#box6,#box7,#box8{
    border: 1px solid black;
}
.box_padding{
    padding: 30px;
}
#layout_4{
    background-color: whitesmoke;
    height: 300px;
    margin-top: 50px;
}
.layout_4{
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 20px;
}
.layout_4padd{
    display: flex;
    gap: 100px
}
.layout_4>div>img{
    border-radius: 50%;
    
}
.name{
     font-size: 25px;
}
#footer-div{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 23% 23% 23% 23%;
    background-color: rgba(241, 241, 241, 0.459);
    color: rgb(71, 18, 18);
    padding-bottom: 2%;
    margin-top: 1%;
}
#footer-div h6{
    font-size: 25px;
}
#footer-div a{
    font-size: 20px;
    text-decoration: solid;
    color: rgb(48, 46, 46);
    margin-bottom: 20px;
}
#footer-div div{
    margin-left: 25%;
}
#footer-div a:hover{
    color: palevioletred;
}
.logo-p-footer{
    text-align: center;
}

@media only screen and (max-width: 1180px){
    #layout_2{
        display: grid;
        gap: 30px;
        grid-template-columns: 350px 350px;
        grid-template-rows: 350px 350px 350px 350px;
        justify-content: center;
        margin-top: 60px;
        width: 100%;  
    }
    p.name{
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px){
    #layout_2{
        display: grid;
        gap: 30px;
        grid-template-columns: 350px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px 350px;
        justify-content: center;
        margin-top: 80px;
        width: 100%;  
    }
    #footer-div a{
        font-size: 12px;
    }
    #footer-div h6{
        font-size: 17px;
    }
    #footer-div{
        grid-gap: 12px;
    }
    #footer-div div:nth-child(1){
        margin-left: 15%;
    }
}