#signup-layout{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}
#div1-signup{
    flex-grow: 1;
    margin-left: 5%;
    padding: 2%;
}
#div2-img{
    flex-grow: 2;
}


#div1-signup h4{
    font-size: 35px;
    font-weight: 500;
    color: rgb(43, 43, 43);
}
#div1-signup p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(68, 67, 67, 0.596);
}
#div1-signup button:nth-of-type(even){
    font-size: 25px;
    font-weight: 500;
    color: rgb(247, 247, 247);
    background-color: rgb(119, 192, 59);
    padding: 2%;
    margin: 2%;
}
#div1-signup button:nth-of-type(odd){
    font-size: 25px;
    font-weight: 500;
    color: rgb(247, 247, 247);
    background-color: rgb(59, 132, 192);
    padding: 2%;
    margin: 2%;
}
#div1-signup input{
    font-size: 25px;
    font-weight: 500;
    color: rgb(43, 43, 43);
    padding: 1%;
    margin: 2%;
}
@media only screen and (max-width: 1340px){
    #div2-img img{
        margin-top: 10%;
        width: 95%;
    }
    #div1-signup h4{
        font-size: 30px;
        font-weight: 500;
        color: rgb(43, 43, 43);
    }
    #div1-signup p{
        font-size: 16px;
        font-weight: 500;
        color: rgba(68, 67, 67, 0.596);
    }
    #div1-signup button:nth-of-type(even){
        font-size: 22px;
        font-weight: 500;
        color: rgb(247, 247, 247);
        background-color: rgb(119, 192, 59);
        padding: 2%;
        margin: 2%;
    }
    #div1-signup button:nth-of-type(odd){
        font-size: 22px;
        font-weight: 500;
        color: rgb(247, 247, 247);
        background-color: rgb(59, 132, 192);
        padding: 2%;
        margin: 2%;
    }
    #div1-signup input{
        font-size: 20px;
        font-weight: 500;
        color: rgb(43, 43, 43);
        padding: 1%;
        margin: 2%;
    }
}

@media only screen and (max-width: 840px){
    #signup-layout{
        flex-direction: column-reverse;
    }
    #div2-img img{
        margin-top: 2%;
        width: 95%;
    }
    #div1-signup button:nth-of-type(even){
        font-size: 22px;
        font-weight: 500;
        color: rgb(247, 247, 247);
        background-color: rgb(119, 192, 59);
        padding: 2%;
        margin: 2%;
        margin-bottom: 5%;
    }
    #div1-signup button:nth-of-type(odd){
        font-size: 22px;
        font-weight: 500;
        color: rgb(247, 247, 247);
        background-color: rgb(59, 132, 192);
        padding: 2%;
        margin: 2%;
    }
    #div1-signup input{
        font-size: 22px;
        font-weight: 500;
        color: rgb(43, 43, 43);
        padding: 1%;
        margin: 2%;
    }
    
}