*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width:90%;
    margin: auto;
    padding: 40px;
}
#guide {
    width:100%;
    margin:auto
}
#guide > div > img {
    width: 100%;
    height: 70px;
    margin: auto;
}
#guide > h1 {
    text-align: center;
}
#guide > p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
}
#heatmap {
    display: flex;
    margin:auto;
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
}
#heatmap div:nth-child(1) {
    background-color: rgb(247, 183, 194); 
    width:50%;
}
#heatmap div:nth-child(2) {
    margin: 50px;
    width:50%
}
.p {
    font-size: 16px;
    padding:5px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.heading {
    font-size: 50px;
    margin-bottom: 25px;
}
#visit {
    background-color: magenta;
    border: 1px solid magenta;
    width:220px;
    padding: 3.5%;
    margin-top:20px;
    border-radius: 10px;
    color:white;
    font-size: 20px;
}
#grid img {
    width: 100%;
    height: 50%;
}
#grid {
    width:100%;
    display: flex;
    flex-direction: row;
    grid-gap:2%;
}
#grid > div {
    height:460px;
    width: 33%;
}
div > h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 0px;
}
#input {
    height:250px;
    margin:100px;
    padding: 4% 5%;
    text-align: center;
    background-color: whitesmoke;
}
#tab {
    border: 1px solid white;
    border-radius: 5px;
    width:40%;
    margin:20px;
    padding: 20px;

}
#btn {
    width: 10%;
    background-color: red;
    color: white;
    border: 1px solid red;
    height:40px;
    border-radius: 5px;
}
#grid2 img {
    width: 100%;
    height: 50%;
}
#grid2 {
    width:100%;
    display: flex;
    flex-direction: row;
    grid-gap:2.5%;
}
#grid2 > div {
    height:380px;
    width: 33%;
}
.article {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}
@media (max-width: 700px) {
    #grid {
        display: block;
        flex-basis: auto;
        flex-direction: column;
    }
    #heatmap {
        display: block;
        height: 800px;
    }
    #heatmap div:nth-child(1) {
        background-color: rgb(250, 194, 204); 
        width:100%;
    }
    #grid > div {
        width:70%;
        margin: auto;
    }
    #input {
        height:300px;
        margin:20px;
        padding: 4% 3%;
    }
    #tab {
        width:50%;
    }
    #btn {
        width: 15%;
    }
    #grid2 {
        display: block;
        flex-basis: auto;
        flex-direction: column;
    }
    #grid2 > div {
        width:70%;
        margin: auto;
    }
    #footer-div a{
        font-size: 10px;
    }
    #footer-div h6{
        font-size: 15px;
    }
    #footer-div{
        grid-gap: 8px;
    }
    #footer-div div:nth-child(1){
        margin-left: 10%;
    }
}
@media (max-width: 500px) {
    * {
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width:100%;
    }
    #grid {
        display: block;
        flex-direction: column;
    }
    #heatmap {
        display: block;
        height: 850px;
    }
    #heatmap div:nth-child(1) {
        background-color: rgb(250, 194, 204); 
        width:100%;
    }
    #grid > div {
        width:80%;
        margin: auto;
    }
    #input {
        height:300px;
        margin:20px;
        padding: 3% 2%;
    }
    #tab {
        width:55%;
    }
    #btn {
        width: 20%;
    }
    #grid2 {
        display: block;
        flex-basis: auto;
        flex-direction: column;
    }
    #grid2 > div {
        width:70%;
        margin: auto;
    }
}
#footer-div{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 23% 23% 23% 23%;
    background-color: rgba(241, 241, 241, 0.459);
    color: rgb(71, 18, 18);
    padding-bottom: 2%;
    margin-top: 1%;
}
#footer-div h6{
    font-size: 25px;
}
#footer-div a{
    font-size: 20px;
    text-decoration: solid;
    color: rgb(48, 46, 46);
    margin-bottom: 20px;
}
#footer-div div{
    margin-left: 25%;
}
#footer-div a:hover{
    color: palevioletred;
}
.logo-p-footer{
    text-align: center;
}