body{
    background-color: rgb(252, 252, 252);
}
#nav-bar{
    background-color: white;
    width: 95%;
    margin: auto;
    height: 90px;
    display: flex;
}
#nav-bar a:hover{
    color: palevioletred;
}
.logo-img-nav{
    width: 35%;
    margin-left: 15%;
}
ul{
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    padding-top: 3%;
}
li{
    display: inline;
    padding: 2%;
}
li a, .dropbtn{
    text-decoration: none;
    color: rgb(65, 63, 63);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
#nav-bar > div:nth-child(1){
    flex-grow: 1;
    width: 17%;
}
#nav-bar > div:nth-child(2){
    float: rigth;
    height: 90px;
    flex-grow: 7;
}


.dropbtn {
    background-color: #ffffff;
    color: rgb(68, 64, 64);
    padding: 1%;
    font-size: 22px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 4% 4%;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }
  
  .dropdown-content a:hover {background-color: rgb(248, 248, 248);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  
  .dropdown:hover .dropbtn {background-color: #fcfcfc;
}

.nav-button-1{
    background-color: palevioletred;
    padding: 2% 4%;
    border-radius: 30px;
    border: 2px solid palevioletred;
    color: white;
    font-weight: 600;
}
.nav-button-2{
    background-color: rgb(243, 229, 233);
    padding: 2% 4%;
    border-radius: 30px;
    border: 2px solid palevioletred;
    font-weight: 600;
}
.nav-button-1:hover{
    color: black;
}
.nav-button-2:hover{
    color: palevioletred;
}


/* rigth-home */
#div3-rigth{
    background-color: rgb(227, 239, 241);
    width: 100%;
    margin: 0;
}
#rigth-home{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 2% auto 0 auto;
}
#rigth-home div{
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0.5% 2%;
    font-size: 14px;
    color: dimgray;
    flex-grow: 1;
}
#rigth-home img{
    width: 11%;
    height: 37%;
    padding-right: 5%;
    margin-top: 4%;
}



/* css for home main page */
.button-front{
    width: 48%;
    margin: 2% 32%;
}
.button-front button:nth-child(1){
    padding: 3%;
    margin: 2% 2% 0.5% 2%;
    color: white;
    background-color: rgb(73, 73, 219);
    border-radius: 50px;
    font-size: 20px;
    border: blue;
    font-size: 23px;
    font-weight: 700;
}
.button-front button:nth-child(2){
    padding: 3%;
    margin: 2% 2% 0.5% 2%;
    color: rgb(59, 47, 218);
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
    font-size: 20px;
    border: transparent;
    font-size: 23px;
    font-weight: 700;
}
#home-front h2{
    font-size: 45px;
    width: 70%;
    margin: 4% auto;
    text-align: center;
    color: rgb(75, 75, 75);
}
#home-front h3{
    font-size: 30px;
    width: 80%;
    margin: 1% auto;
    text-align: center;
    color: rgb(63, 62, 62);
    font-weight: 400;
}
#home-front p{
    font-size: 16px;
    width: 30%;
    margin: 0.5% auto 2%;
    text-align: center;
    color: rgb(63, 62, 62);
    font-weight: 100;
}
.highlight-word{
    background-color: greenyellow;
    border-radius: 50px 100px;
}


/* content first */
#content-first{
    display: flex;
    width: 90%;
    margin: auto;
}
#second-div{
    margin: 1%;
    display: flex;
    flex-direction: column;
}
#second-div h3{
    font-size: 35px;
    color:rgb(63, 62, 62);
    margin-bottom: 0;
}
#second-div h4{
    font-size: 30px;
    color:rgb(85, 85, 85);
}
#second-div button{
    font-size: 20px;
    padding: 2%;
    margin: 2%;
    color:rgb(202, 95, 166);
    background-color: transparent;
    border: rgb(238, 206, 211);
    text-align: left;
}
#second-div a{
    font-size: 18px;
    padding: 2%;
    margin: 1.5%;
    color:rgb(207, 150, 183);
    background-color: transparent;
    margin-top: 15%;
}
#second-div div{
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0.5% 2%;
    font-size: 14px;
    color: dimgray;
    flex-grow: 1;
}
#second-div img{
    width: 11%;
    height: 37%;
    padding-right: 5%;
    margin-top: 14%;
}


/* company partner */
#company-partner{
    display: flex;
    flex-direction: column;
    color: rgb(114, 114, 114);
    font-size: 30px;
    font-weight: 700;
    width: 70%;
    margin: 2% auto;
}
#company-partner h3{
    text-align: center;
}



/* gdpr & cccr */
#gd-cr{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 5% auto;
    background-color: #f0f0f0;
    padding: 2% 5%;
}
#gd-cr > div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    color: rgb(85, 78, 78);
    font-size: 30px;
}
#gd-cr > div:nth-child(1){
    width: 90%;
}
#gd-cr > div:nth-child(2){
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}
#gd-cr h6{
    font-size: 23px;
    margin: 4%;
}
#gd-cr h4{
    margin: 4%;
}

/* table for marketers */
#table-marketers{
    margin: 3%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 17%;
    grid-gap: 2%;
}
#table-marketers div{
    width: 90%;
    border: 1px solid pink;
    padding: 3%;
    border-radius: 20px;
}
#table-marketers #div-4{
    border: transparent;
}
#table-marketers img{
    width: 95%;
}
#table-marketers h3{
    color: dimgrey;
    font-size: 26px;
    font-weight: 600;
}
#table-marketers p{
    color: rgb(77, 74, 74);
    font-size: 20px;
    font-weight: 400;
}



/* scroler-div */
#slider-h2-style{
    font-size: 45px;
    font-weight: 800;
    color: darkcyan;
    text-align: center;
    margin: 5% auto;
}
#w3-heigth{
    margin: 5%;
    width: 90%;
    height: 400px;
}
.mySlides {
    display: none;
}
.mySlides img{
   margin-left: 10%;
   border: 2px dashed palevioletred;
}
.image-background-1{
    background-image: url("https://static-cms.hotjar.com/original_images/testimonials-thumb-invision.jpg");
}
.image-background-2{
    background-image: url("https://static-cms.hotjar.com/original_images/testimonials-thumb-reed.jpg");
}
.image-background-3{
    background-image: url("https://static-cms.hotjar.com/original_images/testimonials-thumb-hubspot.jpg");
}
.image-background-4{
    background-image: url("https://static-cms.hotjar.com/original_images/testimonials-thumb-hubspot.jpg");
}


#slideshow {
    margin: 80px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  .mySlides {
      display: none;
    }
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



/* image-logo */
.image-logo-resize{
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}
.h3-resize-logo{
    font-size: 38px;
    text-align: center;
    margin: 3% auto;
}


/* last button id */
#last-button-id{
    width: 60%;
    margin: 2% auto;
    font-size: 30px;
}
#last-button-id h4{
    width: 60%;
    margin: 5% auto;
    text-align: center;
    font-size: 35px;
}
#last-button-id button{
    font-size: 25px;
    color: white;
    margin-left: 40%;
    background-color: palevioletred;
    padding: 2%;
    border-radius: 28px;
}
#last-button-id button:hover{
    background-color: pink;
}


/* footer */
#footer-div{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 23% 23% 23% 23%;
    background-color: rgba(241, 241, 241, 0.459);
    color: rgb(71, 18, 18);
    padding-bottom: 2%;
    margin-top: 1%;
}
#footer-div h6{
    font-size: 25px;
}
#footer-div a{
    font-size: 20px;
    text-decoration: solid;
    color: rgb(48, 46, 46);
    margin-bottom: 20px;
}
#footer-div div{
    margin-left: 25%;
}
#footer-div a:hover{
    color: palevioletred;
}
.logo-p-footer{
    text-align: center;
}




/* Media Queries */
@media only screen and (max-width: 1240px) {
    .nav-button-1{
        background-color: palevioletred;
        padding: 2% 2%;
        border-radius: 20px;
        border: 1px solid palevioletred;
        color: white;
        font-weight: 500;
    }
    .nav-button-2{
        background-color: rgb(243, 229, 233);
        padding: 2.5% 2.2%;
        border-radius: 20px;
        border: 1px solid palevioletred;
        font-weight: 300;
    }
    ul{
        list-style-type: none;
        margin: 0;
        margin-left: 2%;
        padding-top: 3%;
    }
    li{
        display: inline;
        padding: 1.5%;
    }
    li a, .dropbtn{
        text-decoration: none;
        color: rgb(65, 63, 63);
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 300;
    }
    .logo-img-nav{
        width: 45%;
        margin-left: 10%;
    }


    /* content first */
    #rigth-home{
        width: 80%;
    }

    /* content first */
    #home-front h2{
        font-size: 40px;
    }
    #home-front h3{
        font-size: 24px;
    }
    #home-front p{
        font-size: 16px;
    }
    .button-front button:nth-child(1){
        padding: 3%;
        border-radius: 40px;
        font-size: 20px;
    }
    .button-front button:nth-child(2){
        padding: 3%;
        border-radius: 40px;
        font-size: 20px;
    }


    /* second div */
    #second-div div{
        display: flex;
        flex-direction: row;
        padding: 0.5%;
        margin: 0.5% 2%;
        font-size: 13px;
        color: dimgray;
        flex-grow: 1;
    }
    #second-div h3{
        font-size: 30px;
    }
    #second-div h4{
        font-size: 25px;
    }

    /* company partner */
    #company-partner img{
        width: 100%;
    }

    /* marketers */
    #table-marketers h3{
        font-size: 24px;
    }

    /* resize logo */
    .h3-resize-logo{
        font-size: 32px;
    }
  }

  @media only screen and (max-width: 836px){
    #footer-div a{
        font-size: 12px;
    }
    #footer-div h6{
        font-size: 17px;
    }
    #footer-div{
        grid-gap: 12px;
    }
    #footer-div div:nth-child(1){
        margin-left: 15%;
    }



    #last-button-id h4{
        width: 80%;
    margin: 2% auto;
    font-size: 29px;
    }
    #last-button-id button{
        font-size: 20px;
        color: white;
        margin-left: 30%;
        background-color: palevioletred;
        padding: 2%;
        border-radius: 25px;
        margin-top: 8%;
    }
    #slider-h2-style{
        font-size: 29px;
    }

    #table-marketers{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 3%;
        margin-bottom: 12%;
    }
    #gd-cr > div:nth-child(2){
        display: none;
    }
    #company-partner h3{
        font-size: 27px;
        margin-left: 15%;
    }
    #company-partner img{
        width: 120%;
        margin-left: 0;
    }
    #company-partner{
        margin: 2%;
        width: 80%;
    }


    #content-first{
        flex-direction: column;
    }
    #second-div div{
        display: flex;
        flex-direction: row;
        padding: 0.5%;
        margin: 0.5% 2%;
        font-size: 13px;
        color: dimgray;
        flex-grow: 1;
    }
    #second-div h3{
        font-size: 24px;
        text-align: center;
        color: #464444;
    }
    #second-div h4{
        font-size: 19px;
        text-align: center;
        margin-bottom: 5%;
    }
    #second-div button{
        font-size: 16px;
        padding: 0;
        margin: 0;
        color:rgb(202, 95, 166);
        background-color: transparent;
        border: rgb(238, 206, 211);
        text-align: left;
    }
    #second-div a{
        font-size: 15px;
        padding: 0.5%;
        margin: auto;
        color:rgb(207, 150, 183);
        background-color: transparent;
        margin-top: 5%;
    }
    #second-div div{
        display: flex;
        flex-direction: row;
        padding: 1%;
        width: 50%;
        margin: 0.5% auto;
        font-size: 14px;
        color: dimgray;
        flex-grow: 1;
    }
    #second-div img{
        width: 8%;
        height: 27%;
        padding-right: 5%;
        margin-top: 2%;
    }
    

    #home-front h2{
        font-size: 35px;
        width: 90%;
    }
    #home-front h3{
        font-size: 20px;
        width: 95%;
        font-weight: 500;
        margin-bottom: 5%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .button-front button{
        padding: 5%;
    }
    .button-front{
        width: 50%;
        margin: auto;
    }
    .button-front button:nth-child(1){
        margin-bottom: 4%;
    }
    #home-front p{
        margin-top: 2%;
        width: 60%;
        font-size: 14px;
    }



    #rigth-home{
        flex-direction: column;
    }
    #rigth-home div{
        width: 60%;
    }


    .logo-img-nav{
        width: 85%;
    }
    .dropbtn, .li-2-droptn{
        font-size: 14px;
    }
    .nav-button-1, .nav-button-2{
        display: none;
    }
    #nav-bar ul{
        margin-left: 2%;
        margin-top: 6%;
    }
  }

  @media only screen and (max-width: 508px){
    #nav-bar ul{
        margin-left: 6%;
        margin-top: 6%;
    }
    #table-marketers{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 200px;
        grid-gap: 1%;
        margin-bottom: 12%;
    }
    #table-marketers div:nth-child(4){
        text-align: center;
    }

  }


